    <footer><p>App by <a href='https://github.com/TerryOShea' target='_blank' title='My GitHub'>Terry O'Shea</a></p></footer>
</div>
<script src="/views/scripts/index.js" rel="script" type="text/javascript"></script>