<meta charset="UTF-8">
<title>Terry's Superb Voting App</title>
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:300,400" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
<link href="/views/css/main.css" rel="stylesheet" type="text/css">