<% if (locals.user) { %>
    <form action='/signout' method='GET'>
        <button type='submit' class='header-btn major-btn' title='Sign out'>Sign out</button>
    </form>
    <form action='/profile' method='GET'>
        <button class='header-btn major-btn' title='My profile'>My profile</button>
    </form>
<% } else { %>
    <form action='/register' method='GET'>
        <button class='header-btn major-btn' title='Register'>Register</button>
    </form>
    <form action='/signin' method='GET'>
        <button class='header-btn major-btn' title='Sign in'>Sign in</i></button>
    </form>
<% } %>