<form action='/' method='GET'>
    <button class='header-title'>
        <span class='h-t-non-o'>V</span><span class='h-t-o'>o<span class='h-t-non-o'>ter</span>oo</span>
    </button>
</form>
<div class='header-btns-box'><% include ../partials/headerbuttons %></div>
<button class="menu-btn header-btn" id="menu-btn"><i class="fa fa-bars"></i></button>
<div class="menu" id="menu"><% include ../partials/headerbuttons %></div>