/* general styles */
body {
  margin: 0;
  background: #FCFCFC;
  overflow-x: hidden;
}

button {
  border-radius: 3px;
  border: 0;
  font: 16px 'Open Sans', sans-serif;
}

button:hover { cursor: pointer; }

button:focus, input:focus { outline: 0; }

.major-btn { background: #FF6461; color: #FCFCFC; }

.minor-btn { background: #EFEFEF; }

.major-btn:hover { opacity: 0.8; }

.minor-btn:hover { background: #FF6461; color: #FCFCFC; }

.page-container {
  min-height: 100vh;
  position: absolute;
}

.content-container {
  width: 980px;
  margin: 30px auto;
}

.polls-container {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 0 auto;
  width: 1020px;
  font-family: 'Open Sans', sans-serif;
}

.title {
  text-align: center;
  font: 32px 'Montserrat', sans-serif;
}

.subtitle {
  font-style: italic;
  margin-top: -15px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.disabled-btn { color: #999; }

.disabled-btn:hover {
  cursor: not-allowed;
  background: #EFEFEF;
  color: #999;
}

.disabled-btn:focus { pointer-events: none }

.form-input {
  height: 40px;
  font-size: 16px;
  box-sizing: border-box;
  padding: 0 10px;
  margin-bottom: 10px;
}



/* flash message styles */
.message {
  font: 16px 'Open Sans', sans-serif;
  width: 50vw;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  box-sizing: border-box;
  margin: 0 auto;
}

.alert-message { background: rgba(255, 0, 0, 0.3); }

.success-message { background: rgba(0, 255, 0, 0.3); }

.close-flash-btn { background: transparent; }



/* header, menu, and footer styles */
header {
  width: 980px;
  height: 100px;
  margin: 0 auto 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  border-bottom: 1px solid #222;
}

.header-title {
  text-transform: uppercase;
  font: 48px 'Montserrat', sans-serif; 
  border: 0;
  background: transparent;
  text-align: center;
}

.h-t-o {
  font-weight: 700;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: url('/views/images/pollos.png');
  background-size: 294px;
  background-position: -42px -15px;
}

.h-t-non-o {
  font-weight: 400;
  -webkit-text-fill-color: #222;
}

.header-btns-box { display: flex; }

.header-btn {
  margin-left: 15px;
  padding: 10px 15px;
}

.menu-btn {
  display: none;
  z-index: 10;
}

.menu {
  position: absolute;
  right: -680px;
  top: 0;
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 5;
  box-sizing: border-box;
  border-left: 1px solid black;
  background: #FCFCFC;
}

.menu::after {
  content: '';
  position: absolute;
  top: 0;
  right: 250px;
  width: 430px;
  height: 100%;
  background: transparent;
}

footer {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 12px;
  width: 100vw;
}



/* styles for the see-poll, add-new-poll, and delete-poll buttons (on the homepage and profile page)*/
.poll-btn, .add-poll-btn {
  height: 200px;
  width: 300px;
  text-align: center;
  box-sizing: border-box;
  padding: 10px 20px;
  margin: 20px;
}

.delete-poll-btn {
  position: relative;
  margin-left: -60px;
  margin-top: 30px;
  text-align: right;
  overflow-x: hidden;
  padding: 5px 10px;
}



/* signin and registration pages styles */
.si-reg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}

.si-reg-btn {
  width: 50vw;
  height: 50px;
}

.si-reg-btn > i { margin-left: 5px; }

.si-reg-tw-btn { background: #1dcaff; }

.si-reg-fb-btn {
  margin-top: 10px;
  background: #3b5998;
}

.local-si-reg-form {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin-top: 20px;
}

.forgot-password-link {
  font: 14px 'Open Sans', sans-serif;
  margin-top: 10px;
}



/* styles for each poll's individual page */
.pollpage-container {
  display: flex;
  justify-content: space-around;
}

.votes-box {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.submit-votes {
  display: flex;
  align-items: center;
}

.submit-options {
  font: 16px 'Open Sans', sans-serif;
  margin-bottom: 10px;
}

.submit-options:focus { outline: 0; }

.submit-vote-btn { margin: 0 0 10px 10px; }

.custom-option-toggle-btn { 
  width: 100%; 
  background: #FCFCFC;
  text-decoration: underline;
  margin-bottom: 10px;
}

.custom-option-toggle-btn > i { margin-left: 4px; }

.custom-option-form { 
  display: none;
  margin-bottom: 10px;
}

.custom-option {
  font: 16px 'Open Sans', sans-serif;
  width: 169px;
  margin-right: 5px;
}

.tweet-btn { background: #1dcaff; }

.share-btn { background: #3b5998; }

.tweet-btn > a, .share-btn > a {
  text-decoration: none;
  color: #FCFCFC;
}

.graph-container { position: relative; }

.label-text {
  text-anchor: middle;
  text-transform: uppercase;
  font: 16px 'Open Sans', sans-serif;
  font-weight: 300;
}

.graph-center {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 20px solid transparent;
  box-sizing: border-box;
}

.graph-title {
  font: 24px 'Open Sans', sans-serif;
  text-align: center;
}



/* add-new-poll page styles */
.addnew-container {
  width: 980px;
  margin: 0 auto;
}

.addnew-form {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.options-container {
  margin: 20px auto;
  width: 50vw;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.add-option-btn, .remove-option-btn {
  width: 40px;
  height: 40px;
}

.remove-option-btn { margin-top: 10px; }

.addnew-poll-title { width: 50vw; }

.addnew-option, .addnew-poll-title {
  height: 40px;
  font-size: 16px;
  box-sizing: border-box;
  padding: 0 10px;
}

.addnew-option {
  margin-bottom: 10px;
  width: 100%;
}

.addnew-options-box {
  margin: 0 10px;
  width: 40vw;
}

.addnew-submit-btn {
  padding: 10px 15px;
  border: 0;
  height: 40px;
}



/* reset password pages styles */
.forgot-password-container { text-align: center; }

.reset-password-form {
  width: 50vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reset-password-form > input { width: 100%; }

.forgot-password-btn {
  width: 80px;
  height: 39px;
  margin-left: 10px;
}

.reset-password-btn {
  width: 100%;
  height: 40px;
}



/* media queries */
@media screen and (max-width: 1060px) {
  .polls-container { width: 680px; }
  
  header, .content-container { width: 640px; }
  
  .pollpage-container { 
    flex-direction: column; 
    align-items: center; 
  }
  
  .graph-container { 
    order: -1; 
    margin-bottom: 20px; 
  }
  
  .graph-title { font-size: 20px; }
  
  .label-text { font-size: 14px; }
  
  .votes-box { margin: 0 auto; }
}

@media screen and (max-width: 680px) {
  header, .polls-container, .content-container, .poll { width: 100vw; }
  
  header { padding: 0 20px; }
  
  .header-btns-box, .h-t-non-o { display: none; }
  
  .header-title { text-align: left; }
  
  .menu-btn { display: block; }
  
  .menu > form > button { 
    width: 210px; 
    margin: 5px 0; 
  }
  
  .si-reg-btn, .local-si-reg-form, .reset-password-form, .addnew-poll-title, .options-container, .message { width: 80vw; }
  
  .addnew-options-box { width: 50vw; }
  
  .graph-title { font-size: 16px; }
  
  .label-text { font-size: 12px; }
  
  .polls-container {
    justify-content: center;
    flex-direction: column;
  }
  
  .poll-btn, .add-poll-btn {
    margin: 0;
    width: 100vw;
    height: 100px;
    border-radius: 0;
  }
}