body {
    margin: 0;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: 0;
}



header {
  width: 80vw;
  height: 75px;
  background: #ededed;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 20px;
}

.header-title {
  text-transform: uppercase;
  font: 30px 'Montserrat', sans-serif; 
  border: 0;
  background: transparent;
}

.h-t-o {
  font-weight: 700;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: url(http://media2.intoday.in/indiatoday/images/stories//2016JUNE/4_062216123618.jpg);
  color: black;
}

.h-t-non-o {
  font-weight: 400;
  -webkit-text-fill-color: black;
}

.header-btns-box {
  display: flex;
}

.header-btn {
  background: white;
  color: gray;
  font: 16px 'Montserrat', sans-serif;
  margin-left: 10px;
  padding: 10px 15px;
  border: 0;
}

.header-btn:hover, .header-btn:focus {
  background: purple;
  color: white;
}

.menu-btn {
  display: none;
}

.menu {
  position: absolute;
  right: -200px;
  top: 0;
  width: 200px;
  height: 100vh;
  background: #6D8BED;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.signin-box {
  width: 80vw;
  height: 500px;
  background: #ededed;
  margin: 0 auto;
}




.poll-container {
  display: inline-block;
  position: relative;
  height: 600px;
  left: 50%;
  transform: translate(-50%, 0);
}

.label-text {
  /*text-anchor: middle;*/
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.poll-center {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 20px solid #fff;
  box-sizing: border-box;
}

.poll-title {
  font: 24px 'Open Sans', sans-serif;
  color: #36454f;
  text-align: center;
}






.poll-wrapper {
    width: 70vw;
    margin: 0 auto;
}

.poll-wrapper > form {
    width: 100%;
}

.poll-btn, .add-poll-btn {
    height: 50px;
    width: 100%;
    background: lightgray;
    text-align: center;
    line-height: 50px;
    border: none;
    font: 16px 'Open Sans', sans-serif;
}

.poll-btn:hover, .add-poll-btn:hover {
    background: #6D8BED;
    color: #fff;
    cursor: pointer;
}

footer {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 12px;
    width: 100vw;
}

@media screen and (max-width: 600px) {
    header {
        width: 100vw;
    }
    
    .header-btns-box {
      display: none;
    }
    
    .menu > .header-btn {
      width: 180px;
      margin: 0 auto;
    }
    
    .menu-btn {
      display: block;
    }
    
    .poll {
        width: 100vw;
    }
    
    .h-t-non-o {
        display: none;
    }
}