body {
  margin: 0;
  background: #FCFCFC;
}

button {
  border-radius: 3px;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: 0;
}


/*condense containers*/


header {
  width: 980px;
  height: 100px;
  margin: 0 auto 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  border-bottom: 1px solid #222;
}

.header-title {
  text-transform: uppercase;
  font: 48px 'Montserrat', sans-serif; 
  border: 0;
  background: transparent;
  text-align: center;
}

.h-t-o {
  font-weight: 700;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: url('/views/images/pollos.png');
  background-position: -45px -18px;
}

.h-t-non-o {
  font-weight: 400;
  -webkit-text-fill-color: #222;
}

.header-btns-box {
  display: flex;
}

.header-btn {
  background: #FF6461;
  color: #FCFCFC;
  font: 16px 'Open Sans', sans-serif;
  margin-left: 15px;
  padding: 10px 15px;
  border: 0;
}

.header-btn:hover, .header-btn:focus {
  background: #FF8A87;
}

.menu-btn {
  display: none;
}

.menu {
  position: absolute;
  right: -200px;
  top: 0;
  width: 200px;
  height: 100vh;
  background: #6D8BED;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 12px;
  width: 100vw;
}



.polls-container {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 0 auto;
  width: 1020px;
}

.poll-btn, .add-poll-btn, .disabled-btn {
  height: 200px;
  width: 300px;
  text-align: center;
  box-sizing: border-box;
  padding: 10px 20px;
  margin: 20px;
  font: 16px 'Open Sans', sans-serif;
  color: #000;
  background: #efefef;
  border: 0;
}

.poll-btn:hover, .poll-btn:focus, .add-poll-btn:hover, .add-poll-btn:focus {
  background: #FF6461;
  color: #FCFCFC;
}

.disabled-btn {
  color: #999;
}

.disabled-btn:hover {
  cursor: not-allowed;
}



.signin-container {
  width: 980px;
  height: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  font: 32px 'Montserrat', sans-serif;
}

.signin-btn {
  width: 50vw;
  height: 50px;
  font: 16px 'Open Sans', sans-serif;
  margin-bottom: 10px;
  border: 0;
  color: #FCFCFC;
}

.signin-tw-btn {
  background: #0084b4;
}

.signin-fb-btn {
  background: #3b5998;
}

.signin-fb-btn:hover, .signin-tw-btn:hover {
  cursor: not-allowed;
}

.local-signin-btn {
  background: #FF6461;
}

.local-signin-form {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin-top: 20px;
}

.signin-input {
  height: 50px;
  font-size: 16px;
  box-sizing: border-box;
  padding: 0 10px;
  margin-bottom: 10px;
}

.signin-input:focus {
  outline: 0;
}

.signin-bottom-links {
  font: 14px 'Open Sans', sans-serif;
  display: flex;
  justify-content: space-around;
  width: 50vw;
}

.signin-bottom-links > a:first-child {
  pointer-events: none
}




.poll-container {
  display: inline-block;
  position: relative;
  height: 600px;
  left: 50%;
  transform: translate(-50%, 0);
}

.label-text {
  /*text-anchor: middle;*/
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.poll-center {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 20px solid #FCFCFC;
  box-sizing: border-box;
}

.poll-title {
  font: 24px 'Open Sans', sans-serif;
  color: #36454f;
  text-align: center;
}







@media screen and (max-width: 1060px) {
  .polls-container {
    width: 680px;
  }
  
  header, .signin-container {
    width: 640px;
  }
}

@media screen and (max-width: 680px) {
  header, .polls-container, .signin-container {
    width: 100vw;
  }
  
  .polls-container {
    justify-content: center;
    flex-direction: column;
  }
  
  header {
    padding: 0 20px;
  }
  
  .poll-btn, .add-poll-btn, .disabled-btn {
    margin: 0;
    width: 100vw;
    height: 100px;
    border-radius: 0;
  }
  
  .signin-btn, .local-signin-form {
    width: 80vw;
  }
    
    .header-btns-box {
      display: none;
    }
    
    .header-title {
      text-align: left;
    }
    
    .menu > .header-btn {
      width: 180px;
      margin: 0 auto;
    }
    
    .menu-btn {
      display: block;
    }
    
    .poll {
        width: 100vw;
    }
    
    .h-t-non-o {
        display: none;
    }
}