<!DOCTYPE html>
<html>
    <head><% include ../partials/head %></head>
    <body>
        <header><% include ../partials/header %></header>
        
        <form action='/forgot_password' method='POST'>
            <input type='email' name='email' placeholder='Email address' autofocus>
            <button type='submit'>Submit</button>
        </form>
        
        <footer><% include ../partials/footer %></footer>
    </body>
</html>