<!DOCTYPE html>
<html>
    <head><% include ../partials/head %></head>
    <body>
        <% include ../partials/header %>
        
        <% if (message.length > 0) { %>
            <div class='message alert-message'><%= message %><button type='button' class='close-flash-btn'><i class='fa fa-close'></i></button></div>
        <% } %>
        
        <h1 class='title'>Send Me a New Password</h1>
        <div class='content-container forgot-password-container'>
            <form action='/forgot_password' method='POST'>
                <input type='email' name='email' placeholder='Email address' class='form-input' autofocus>
                <button type='submit' class='major-btn forgot-password-btn'>Submit</button>
            </form>
        </div>
        
        <% include ../partials/footer %>
    </body>
</html>