<!DOCTYPE html>
<html>
    <head><% include ../partials/head %></head>
    <body>
        <% include ../partials/header %>
        
        <% if (message.length > 0) { %>
            <div class='message alert-message'><%= message %><button type='button' class='close-flash-btn'><i class='fa fa-close'></i></button></div>
        <% } %>
        
        <form action='/forgot_password' method='POST'>
            <input type='email' name='email' placeholder='Email address' autofocus>
            <button type='submit'>Submit</button>
        </form>
        
        <% include ../partials/footer %>
    </body>
</html>