<!DOCTYPE html>
<html>
    <head><% include ../partials/head %></head>
    <body>
        <% include ../partials/header %>
        <form action='/forgot_password' method='POST'>
            <input type='email' name='email' placeholder='Email address' autofocus>
            <button type='submit'>Submit</button>
        </form>
        
        <% include ../partials/footer %>
    </body>
</html>