<!DOCTYPE html>
<html>
    <head><% include ../partials/head %></head>
    <body>
        <% include ../partials/header %>
        
        <% if (message.length > 0) { %>
            <div class='message success-message'><%= message %><button type='button' class='close-flash-btn'><i class='fa fa-close'></i></button></div>
        <% } %>
        
        <div class='polls-container'>
            <% if (locals.user) { %>
                <form action='/add_new_poll' method='GET'>
                    <button type='submit' class='major-btn add-poll-btn' title='Add poll'>
                        Add Poll <i class='fa fa-plus'></i>
                    </button>
                </form>
            <% } else { %>
                <button type='button' class='minor-btn add-poll-btn disabled-btn' title="You must be signed in to add a poll">
                    Sign in to add a poll <i class='fa fa-ban'></i>
                </button>
            <% } %>
            <% for (var i = 0; i < polls.length; i++) { %>
                <form action='/poll' method='GET'>
                    <button type='submit' name='id' value='<%= polls[i].id %>' class='minor-btn poll-btn' title='<%= polls[i].title %>'>
                        <%= polls[i].title %>
                    </button>
                </form>
            <% } %>
        </div>
        <% include ../partials/footer %>
    </body>
</html>