<!DOCTYPE html>
<html>
    <head><% include ../partials/head %></head>
    <body>
        <header><% include ../partials/header %></header>
        <div class='poll-wrapper'>
            <% if(locals.user) { %>
                <form action='/add_new_poll' method='GET'>
                    <input type='submit' value='+ Add a Poll +' class='add-poll-btn'>
                </form>
            <% } %>
            <% for (var i = 0; i < polls.length; i++) { %>
                <form action='/see_poll' method='GET'>
                    <input type='submit' name='title' value='<%= polls[i].title %>' class='poll-btn'>
                </form>
            <% } %>
        </div>
        <footer><% include ../partials/footer %></footer>
    </body>
</html>