<!DOCTYPE html>
<html>
    <head><% include ../partials/head %></head>
    <body>
        <header><% include ../partials/header %></header>
        <div class='polls-container'>
            <% if (locals.user) { %>
                <form action='/add_new_poll' method='GET'>
                    <button type='submit' class='add-poll-btn'>
                        Add Poll <i class='fa fa-lg fa-plus'></i>
                    </button>
                </form>
            <% } else { %>
                <button type='button' class='disabled-btn' title="You must be signed in to add a poll">
                    Add Poll <i class='fa fa-lg fa-ban'></i>
                </button>
            <% } %>
            <% for (var i = 0; i < polls.length; i++) { %>
                <form action='/see_poll' method='GET'>
                    <button type='submit' name='title' value='<%= polls[i].title %>' class='poll-btn'><%= polls[i].title %></button>
                </form>
            <% } %>
        </div>
        <footer><% include ../partials/footer %></footer>
    </body>
</html>