<!DOCTYPE html>
<html>
    <head><% include ../partials/head %></head>
    <body>
        <header><% include ../partials/header %></header>
        <h1 class='title'>Welcome, <%= user.local.firstname %>!</h1>
        <h4 class='subtitle'>My polls:</h4>
        <div class='profile-container'>
            <% for (var i = 0; i < polls.length; i++) { %>
                <form action='/see_poll' method='GET'>
                    <button type='submit' name='title' value='<%= polls[i].title %>' class='poll-btn'>
                        <%= polls[i].title %>
                    </button>
                </form>
                <form action='/delete_poll' method='GET'>
                    <button type='submit' class='delete-poll-btn' name='title' value='<%= polls[i].title %>'><i class='fa fa-close'></i></button>
                </form>
            <% } %>
        </div>
        <footer><% include ../partials/footer %></footer>
    </body>
</html>