<!DOCTYPE html>
<html>
    <head><% include ../partials/head %></head>
    <body>
        <% include ../partials/header %>

        <% if (message.length > 0) { %>
            <div class='message alert-message'><%= message %><button type='button' class='close-flash-btn'><i class='fa fa-close'></i></button></div>
        <% } %>

        <h1 class='title'>Register</h1>
        <h4 class='subtitle'>( Already have an account? <a href='/signin' title='Sign in'>Sign in here →</a> )</h4>
        <div class='si-reg-container content-container'>
            <form action='/auth/twitter' method='GET'>
                <button type="submit" title="Register through Twitter" class="major-btn si-reg-btn si-reg-tw-btn">
                    Register through Twitter <i class="fa fa-lg fa-twitter"></i>
                </button>
            </form>
            <form action='/auth/facebook' method='GET'>
                <button type="submit" title="Register through Facebook" class="major-btn si-reg-btn si-reg-fb-btn">
                    Register through Facebook <i class="fa fa-lg fa-facebook"></i>
                </button>
            </form>
            <hr>or</hr>

            <form class='local-si-reg-form' action='/register' method='POST'>
                <input type='text' class='form-input' name='firstname' placeholder='First name' required autofocus>
                <input type='text' class='form-input' name='lastname' placeholder='Last name' required>
                <input type='email' class='form-input' name='email' placeholder='Email address' required>
                <input type='password' class='form-input' name='password' placeholder='Password (6 or more characters)' required>
                <button type='submit' class='major-btn si-reg-btn local-si-reg-btn' title='Register'>Register</button>
            </form>
        </div>
        <% include ../partials/footer %>
    </body>
</html>