<!DOCTYPE html>
<html>
    <head><% include ../partials/head %></head>
    <body>
        <% include ../partials/header %>
        
        <% if (message.length > 0) { %>
            <div class='message alert-message'><%= message %><button type='button' class='close-flash-btn'><i class='fa fa-close'></i></button></div>
        <% } %>
        
        <form method='POST'>
            <input type='hidden' name='id' value='<%= id %>'>
            <input type='password' name='password' placeholder='New password (6 or more characters)' autofocus>
            <input type='password' name='confirmation' placeholder='Confirm new password'>
            <button type='submit'>Submit</button>
        </form>
        
        <% include ../partials/footer %>
    </body>
</html>