<!DOCTYPE html>
<html>
    <head><% include ../partials/head %></head>
    <body>
        <% include ../partials/header %>
        
        <% if (message.length > 0) { %>
            <div class='message alert-message'><%= message %><button type='button' class='close-flash-btn'><i class='fa fa-close'></i></button></div>
        <% } %>
        
        <h1 class='title'>Reset Password</h1>
        <div class='content-container reset-password-container'>
            <form method='POST' class='reset-password-form'>
                <input type='hidden' name='id' value='<%= id %>'>
                <input type='password' name='password' placeholder='New password (6 or more characters)' class='form-input' autofocus>
                <input type='password' name='confirmation' placeholder='Confirm new password' class='form-input'>
                <button type='submit' class='major-btn reset-password-btn'>Submit</button>
            </form>
        </div>
        
        <% include ../partials/footer %>
    </body>
</html>