<form method='POST'>
    <input type='hidden' name='id' value='<%= id %>'>
    <input type='password' name='password' placeholder='New password' autofocus>
    <input type='password' name='confirmation' placeholder='Confirm new password'>
    <button type='submit'>Submit</button>
</form>