<!DOCTYPE html>
<html>
    <head><% include ../partials/head %></head>
    <body>
        <% include ../partials/header %>
        
        <% if (message.length > 0) { %>
            <div class='message alert-message'><%= message %><button type='button' class='close-flash-btn'><i class='fa fa-close'></i></button></div>
        <% } %>
        
        <h1 class="title">Sign In</h1>
        <h4 class="subtitle">( New? <a href='/register' title='Register'>Register here →</a> )</h4>
        <div class='si-reg-container content-container'>
            <form action='/auth/twitter' method='GET'>
                <button type="submit" title="Sign in through Twitter" class="major-btn si-reg-btn si-reg-tw-btn">
                    Sign in through Twitter <i class="fa fa-lg fa-twitter"></i>
                </button>
            </form>
            <form action='/auth/facebook' method='GET'>
                <button type="submit" title="Sign in through Facebook" class="major-btn si-reg-btn si-reg-fb-btn">
                    Sign in through Facebook <i class="fa fa-lg fa-facebook"></i>
                </button>
            </form>
            <hr>or</hr>
            <form class='local-si-reg-form' action='/signin' method='POST'>
                <input type='email' name='email' class='si-reg-input' placeholder='Email address' required autofocus>
                <input type='password' name='password' class='si-reg-input' placeholder='Password' required>
                <button type='submit' class='major-btn si-reg-btn local-si-reg-btn' title='Sign in'>Sign in</button>
            </form>
            <a class='forgot-password-link' href='/forgot_password' title="I've forgotten my password">I've forgotten my password</a>
        </div>
        
        <% include ../partials/footer %>
    </body>
</html>