<!DOCTYPE html>
<html>
    <head><% include ../partials/head %></head>
    <body>
        <header><% include ../partials/header %></header>
        <h1>Sign In</h1>
        
        <% if (message.length > 0) { %>
            <div class='alert alert-danger'><%= message %></div>
        <% } %>
        
        <div class='signin-box'>
            <!--<a href='/auth/facebook'>Sign in through Facebook</a>
            <a href='/auth/twitter'>Sign in through Twitter</a>-->
            <form action='/signin' method='POST'>
                <input type='text' name='email' placeholder='Email address' onfocus='this.placeholder = ""'>
                <input type='password' name='password' placeholder='Password' onfocus='this.placeholder = ""'>
                <button type='submit'>Sign in</button>
            </form>
            <div>I've forgotten my password</div>
            <form action='/register' method='GET'>
                <button type='submit'>New? Sign up!</button>
            </form>
        </div>
        
        
        
        <footer><% include ../partials/footer %></footer>
    </body>
</html>